/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: black;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 300px;
    line-height: 0;
    height: 400px;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.logoimage {
    height: 130px;
    width: 130px;
    border: 16px solid rgba(0, 0, 0, 0.43);
    padding: 10px;
}

.navbartabs {
    background-color: rgba(0, 0, 0, 0.43);
    margin: 2px;
    color: white;
    padding-bottom: 0px;
}

.navbartabs:hover {
    background-color: black;
    color: white;
}

.iconstyle {
    position: relative;
    right: -1.8rem;
    bottom: 5.8rem;
}

.iconstyle:hover {
    color: black!important;
}

.iconimage {
    filter: grayscale(100%);
    height: 100px!important;
    width: 100px;
    position: ;
}

.iconbackground {
    background-image: url(http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg);
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
}

.footersubs {
    line-height: 2rem;
    font-size: 20px;
    border-left: 4px solid black;
    padding-left: 8px;
}



.booknowform {
    position: absolute;
    top: 5rem;
    z-index: 300;
}


.container {
  width: 75%!important;
}

.hed {
        background-color: rgba(255, 165, 0, 0.53);
    border-radius: 4px;
    margin: 2px;
    
}

.forminput {
    background-color: white!important;
}



.booknow {
    margin: 18px 0px!important;
    font-size: 14px;
    color: black;
    background-color: white;
}







.iconbg1 {
    height: 150px;
    width: 150px!important;
    border-radius:100%;
    background-image: url(../iconbg/facebook.jpg)!important;
    margin-bottom: 2rem;
    filter: grayscale(100%);
    margin:1rem 2rem;
    }
  

.iconstl {
        padding-top: 30px!important;
        font-size: 7rem!important;
        color: black;
}

.iconstl:hover{
    color: white;
    
}

.iconbg2 {
    background-image: url(../iconbg/Untitled1.png);
    border-radius: 100%;
    height: 150px;
    width: 150px!important;
    filter: grayscale(100%);
    margin:1rem 2rem;
    
}

.iconbg3 {
    background-image: url(../iconbg/tumblr.png);
    height: 150px;
    width: 150px!important;
    border-radius: 100%;
    filter: grayscale(100%);
    margin:1rem 2rem;
}

.iconbg4 {
    background-image: url("../iconbg/instagram.jpg");
    height: 150px;
    width: 150px!important;
    border-radius: 100%;
    filter: grayscale(100%);
    margin:1rem 2rem;
}

.iconstyl {
    padding-top: 30px!important;
    font-size: 24px!important;
   }

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 100%!important;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}
.footertab:hover {
    border-left: 2px solid black;
    
}

.booknowbtn {
    position: absolute;
    bottom: 5rem;
    z-index: 250;
    }

.side-nav {
    opacity: none!important;
    z-index: 1000px!important;
}


.navbarstyle {
    background-color: #CFD8DC!important;
    position: absolute;
    z-index: 100;
    box-shadow: none;
}


.logoimagesec {
    height: 100px!important;
    width: 100px!important;
    border: 16px solid rgba(0, 0, 0, 0.43);
    padding: 10px;

}


.navbar{
    background-color: transparent!important;
    position: absolute;
    z-index: 100;
    box-shadow: none;
}


.navbar:hover {
    background-color: 
}

.navbarstle{
      background-color: #fafafa;
}

.resortphotos {
    height:200px;
    width:auto;
    min-width: 300px;
}
